## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
.vscode/

## Rider
.idea/

## NuGet
*.nupkg
*.snupkg
**/packages/*

## Others
.DS_Store
*.swp
*~

## Local files (not for GitHub)
BLOG.md
